html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.pagewidth {
    width: 80%;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.headerimg {
    width: 760px;
    height: 95px;
    background-image:url(assets/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.navigation {
    float: left;
    margin-left: 5%;
}

.buttons {
    margin-bottom: 10px;
    background-color: rgb(255, 128, 0);
    padding-left: 5px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.buttons:hover {
    background-color: orange;
}

.maincontent {
    width: 100%;
}

.bookslider {
    width: 60%;
    margin: 0 auto;
}


.bookslides {
    display: none;
}

.bookcategory {
    display: flex;
    padding-left: 15px;
    justify-content: center;
}

.markholdrenimg {
    width: 260px;
    height: 460px;
    background-image:url(assets/MarkHoldren.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.thoreaucover {
    width: 200px;
    height: 316px;
    background-image:url(assets/ThoreauCover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.backroadscover {
    width: 200px;
    height: 316px;
    background-image:url(assets/BackRoadsCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.lostpondcover {
    width: 200px;
    height: 316px;
    background-image:url(assets/LostPondCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ravencover {
    width: 200px;
    height: 316px;
    background-image:url(assets/RavenCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.spiritwolfcover {
    width: 200px;
    height: 316px;
    background-image:url(assets/SpiritWolfCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.markholdrenimgmedia {
    width: 100px;
    height: 155px;
    background-image:url(assets/MarkHoldren.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.thoreaucovermedia {
    width: 100px;
    height: 155px;
    background-image:url(assets/ThoreauCover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.backroadscovermedia {
    width: 100px;
    height: 155px;
    background-image:url(assets/BackRoadsCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.lostpondcovermedia {
    width: 100px;
    height: 155px;
    background-image:url(assets/LostPondCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ravencovermedia {
    width: 100px;
    height: 155px;
    background-image:url(assets/RavenCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.spiritwolfcovermedia {
    width: 100px;
    height: 155px;
    background-image:url(assets/SpiritWolfCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bookdesc {
    font-size: 14px;
    width: 400px;
    padding-left: 30px;
}

.buybutton {
    width: 171px;
    height: 47px;
    background-image:url(assets/buynowbutton.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.personalization {
    margin-top: 5px;
    margin-bottom: 15px;
}

.mediakitbutton {
    background-color: rgb(255, 128, 0);
    padding: 10px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.mediakitbutton:hover {
    background-color: orange;
}

.mediakitbuttonalign {
    margin: 0 auto;
    width: 275px;
    height: 30px;
}

.photocredit {
    font-size: 12px;
}

.contactinfo {
    text-align: center;
}

.pressrelease {
    width: 800px;
    margin: 0 auto;
}

.prtitle {
    text-align: center;
}